<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="/styles/register.css">
</head>

<body class="container">
    <div class="form-container">
        <div class="text-center">
            <h1 class="title">Edit User</h1>
            <p class="subtitle">Please edit profile of you</p>
        </div>

        <% if (error) { %>
            <div class="alert error">
                <span>
                    <%= error %>
                </span>
            </div>
            <% } %>

                <% if (success) { %>
                    <div class="alert success">
                        <span>
                            <%= success %>
                        </span>
                    </div>
                    <% } %>

                        <form action="/api/v1/member/update/<%= user._id%>" method="POST" class="form">
                            <div>
                                <label for="name" class="label">Name</label>
                                <input type="text" id="name" name="name" value="<%= user.name %>" required
                                    class="input">
                            </div>

                            <div>
                                <label for="YOB" class="label">YOB</label>
                                <input type="number" value="<%= user.YOB %>" id="YOB" name="YOB" required class="input">
                            </div>

                            <div>
                                <label for="Gender" class="label">Gender</label>
                                <div style="display: flex; justify-content: space-between;">
                                    <div style="display: flex; align-items: flex-start;">
                                        <input type="radio" id="male" name="gender" value="Male" <%=user.gender==='Male'
                                            ? 'checked' : '' %>
                                        class="input">
                                        <label for="Male" class="label">Male</label>
                                    </div>

                                    <div style="display: flex; align-items: flex-start;">
                                        <input type="radio" id="female" name="gender" value="Female"
                                            <%=user.gender==='Female' ? 'checked' : '' %>
                                        class="input">
                                        <label for="Female" class="label">Female</label>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="button">Save</button>
                            </div>
                        </form>
                        <a href="/views/user-detail/<%= user._id%>">Back</a>
    </div>
</body>

</html>