<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Colectors</title>
</head>

<body>
    <div class="table-responsive">
        <table class="table table-primary" style="border: 1px solid black; border-collapse: collapse;">
            <thead>
                <tr style="border: 1px solid black;">
                    <th scope=" col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">YOB</th>
                    <th scope="col">Gender</th>
                    <th scope="col">IsAdmin</th>
                </tr>
            </thead>
            <tbody>
                <% members.forEach(member=> { %>
                    <tr class="">
                        <td>
                            <%= member.email %>
                        </td>
                        <td>
                            <%= member.name %>
                        </td>
                        <td>
                            <%= member.YOB %>
                        </td>
                        <td>
                            <%= member.gender %>
                        </td>
                        <td>
                            <%= member.isAdmin %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>

</body>

</html>