<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage</title>
</head>

<body>
    <a href="">Create Perfume</a>
    <br />
    <br />

    <% if (success) { %>
        <div class="alert success">
            <span>
                <%= success %>
            </span>
        </div>
        <% } %>

            <% if (error) { %>
                <div class="alert error">
                    <span>
                        <%= error %>
                    </span>
                </div>
                <% } %>
                    <br />
                    <br />
                    <div class="table-responsive">
                        <table class="table table-primary" style="border: 1px solid black; border-collapse: collapse;">
                            <thead>
                                <tr style="border: 1px solid black;">
                                    <th scope=" col">PerfumeName</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Concentration</th>
                                    <th scope="col">Volume</th>
                                    <th scope="col">TargetAudience</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% perfumes.forEach(perfume=> { %>
                                    <tr class="">
                                        <td>
                                            <%= perfume.perfumeName %>
                                        </td>
                                        <td>
                                            <%= perfume.price %>
                                        </td>
                                        <td>
                                            <%= perfume.concentration %>
                                        </td>
                                        <td>
                                            <%= perfume.volume %>
                                        </td>
                                        <td>
                                            <%= perfume.targetAudience %>
                                        </td>
                                        <td>
                                            <%= perfume.brand.brandName %>
                                        </td>
                                        <td>
                                            <a href="/views/admin/edit-perfume/<%= perfume._id %>">Edit</a>
                                            <form action="/api/v1/perfume/delete/<%= perfume._id %>" method="POST">
                                                <button type="submit">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>

</body>

</html>